.background {
  background: #333333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.game-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

resources {
  height: 100%
}
