<div class="base-container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Actions">
      <div class="tab-container actions">
            <div class="action-button">
              <button mat-stroked-button color="primary" (click)="kindleFire()">Kindle Fire</button>
            </div>
            <div class="action-button">
              <button mat-stroked-button (click)="pickTrash()">Pick Trash</button>
            </div>
      </div>
    </mat-tab>
    <mat-tab label="Refine">
      <div class="tab-container">
        Refine
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


