.column {
  display: flex;
  flex-flow: column;
  width: 180px;
  padding: 80px 10px 10px;
  border-right-style: solid;
  border-width: 3px;
  border-color: lightgrey;
  //background-color: dimgrey;
  height: calc(100% - 90px);
}

.resource {
  padding: 2px 0;
  color: white;
  span {
    color: white;
    &.rubbish {
      color: #DAA592;
    }
    &.plastic {
      color: #F2EEE5;
    }
    &.medical {
      color: #FF8080;
    }
    &.electronic {
      color: #F0F696;
    }
    &.scrap {
      color: #9A9B94
    }
  }
}
