<div class="resources-box" *ngIf="resources$ | async as resourceMap">
  INVENTORY OS V1.0<br>
  STABILITY 10/10<br>
  <span>INVENTORY OS V1.0<br></span>
  <span>STABILITY 10/10<br></span>
  <span>ENERGY 40/40<br></span>
  <span>STATUS OK<br></span>
  <div class="category" *ngFor="let category of resourceMap | keyvalue">
    <span class="heading">{{category.key}}</span>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let resource of category.value | keyvalue">
      <ng-container *ngIf="resource.value.unlockedDefault || resource.value.value > 0">
        <div class="resource"><span
          class="{{resource.value.cssStyle}}">{{'RESOURCES.' + resource.key | translate}} </span><span>{{resource.value.value}}
          / {{resource.value.max}}</span></div>
        <!-- <div class="resource {{resource.value.cssStyle}}">
          {{'RESOURCES.' + resource.key | translate}} {{resource.value.value}}
          / {{resource.value.max}}</div> -->
      </ng-container>
    </ng-container>
  </div>
</div>

