.heading {
  color: #03A3FF;
}

.category {
  margin-bottom: 10px;
}

.resources-box {
  font-size: 22px;
  color: white;
  display: flex;
  flex-flow: column;
  width: 140px;
  min-width: 140px;
  padding: 40px 10px 10px;
  font-family: 'GelatinCaps';
  text-shadow: -2px -6px 2px #655555;
  background-color: black;
  height: calc(100% - 90px); 
}

.console-line {
  font-size: 22px;
}

.resource {

  span {
    color: white;
    &.rubbish {
      color: #DAA592;
    }
    &.plastic {
      color: #F2EEE5;
    }
    &.medical {
      color: #FF8080;
    }
    &.electronic {
      color: #F0F696;
    }
    &.metal {
      color: #9A9B94
    }
  }
}


